<h2>New tournament configuration</h2>

<%= render "form.html", changeset: @changeset,
                        action: tournament_configuration_path(@conn, :create) %>

<%= link "Back", to: tournament_configuration_path(@conn, :index) %>
