<h2>Show tournament configuration</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tournament_configuration.name %>
  </li>

  <li>
    <strong>League node:</strong>
    <%= @tournament_configuration.league_node_id %>
  </li>

</ul>

<%= link "Edit", to: tournament_configuration_path(@conn, :edit, @tournament_configuration) %>
<%= link "Back", to: tournament_configuration_path(@conn, :index) %>
